2016-ambulatory-surgery-diagnosis-code-frequency.xlsx
2016-hospital-emergency-department-diagnosis-code-frequency.xlsx
2016-hospital-inpatient-diagnosis-code-frequency.xlsx
2017-ambulatory-surgery-diagnosis-code-frequency.xlsx
2017-hospital-emergency-department-diagnosis-code-frequency.xlsx
2017-hospital-inpatient-diagnosis-code-frequency.xlsx
2018-ambulatory-surgery-diagnosis-code-frequency.xlsx
2018-hospital-emergency-department-diagnosis-code-frequency.xlsx
2018-hospital-inpatient-diagnosis-code-frequency.xlsx
2019-ambulatory-surgery-diagnosis-code-frequency.xlsx
2019-hospital-emergency-department-diagnosis-code-frequency.xlsx
2019-hospital-inpatient-diagnosis-code-frequency.xlsx
2020-ambulatory-surgery-diagnosis-code-frequency.xlsx
2020-hospital-emergency-department-diagnosis-code-frequency.xlsx
2020-hospital-inpatient-diagnosis-code-frequency.xlsx
2021-ambulatory-surgery-diagnosis-code-frequency.xlsx
2021-hospital-emergency-department-diagnosis-code-frequency.xlsx
2021-hospital-inpatient-diagnosis-code-frequency.xlsx
icd10_freqs.csv
